/**------------------------------------------------------------
// Nicolas Henry
// SI-T1a
// Documents.css
//------------------------------------------------------------**/

#documents
{
    text-align: left;
}

.reconduction td
{
    padding: 5px 2px!important;
}

.reconduction input
{
    height: 15px;
    width: 15px;
}

.reconduction
{
    margin-bottom: 10px;
    width: 100%;
}

.checkBox, #reconduire
{
    display: inline-block;
}

.checkBox input
{
    height: 15px;
    width: 15px;
}

#reconduire
{
    display: none;
    float: left;
}

.checkBox
{
    float: right;
}