/**
* EvalGrid specific CSS
*
* Bastien Nicoud
*/

/* Hide elements on print */
@media print {
  #side-menu {
    display: none !important;
  }

  .btn {
    display: none !important;
  }
}

/* global margin */
#evaluation-grid {
  margin: 40px auto;
}

/* inputs layouts */
.evalgrid {

  border: none;
  background-color: rgb(250, 249, 248);

  font-size: 16px;
  
  transition: all 0.2s ease-in-out;
}

.evalgrid.input {
  height: 50px;
  width: 100%;

  font-weight: 500;
  
  text-align: center;
  vertical-align: center;
}

.evalgrid.textarea {
  height: 100px;
  width: 100%;
}

.evalgrid:hover {
  background-color: rgb(224, 224, 224);
}

.evalgrid:focus {
  outline: none;
  background-color: rgb(224, 224, 224);
}

/* html tables layout */

.gridform.w12 {
  width: 12.5%
}

.gridform.w10 {
  width: 10%
}

.gridform.w20{
  width: 20%;
}

.gridform.w25 {
  width: 25%;
}

.gridform.w26 {
  width: 26.66%;
}

.gridform.w40 {
  width: 40%;
}

.gridform.w50 {
  width: 50%;
}