
/* Header*/

#people_table{
    border-style: solid;
    border-width: 3px;
    border-color: lightgrey;
}

#people_header{
    width: 100%;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 5px;
}

#people_header, td{
    text-align: left;
}
#people_header h3{
    text-align: left;
}

/* Table People*/

#people_content{
    width: 100%;
    font-family: inherit;
    text-align: left;
}

#people_container{
    width: 100%;
}

#people_container table th{
    width: 50%;
}

#people_container td:first-child:hover{
    background: lightskyblue;
    cursor: pointer;
}

.row{
    margin: 0;
    padding: 0;
}

#btn-return{
    color: black;
}

#btn-return:hover{
    color: white;
}

/* Varius */

.margin10
{
    height: 10px;
    background: transparent;
}

.margin20 {
    height: 20px;
    background: transparent;
}

.margin30
{
    height: 30px;
    background: transparent;
}

.divider{
    height: 1px;
    background: lightgray;
}

.bar30{
    height: 30px;
    background: lightskyblue;
    line-height: 30px;
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

/* People Info */

#people_Info span:first-child{
    margin-right: 10px;
}

/* Edit People*/

#people_Name span:first-child{
    font-size: 18px ;
    line-height: 18px;
    margin-right: 10px;
}

#people-btn_desactive{
    font-size: 9px ;
}

#people-btn_desactive{
    height: 20px;
    padding: 5px;
    padding-top: 3px;
    margin-top: -4px;
}


